.add-button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.add-button:hover {
    background-color: #0056b3;
}

.form-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
    gap: 10px;
    margin-bottom: 20px;
}

.form-container input,
.form-container textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    width: 180px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: darkgreen;
}

.error {
    color: red;
    font-size: 12px;
}